engine-strict=true
resolution-mode=highest
prefer-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
auto-install-peers=true
strict-peer-dependencies=false
node-version=18
use-node-version=18
